{% include 'partials/head.liquid' %}

{% if currentPath == '/' %}
  <h1 class="overview-header">I'm looking for a gift for... <span class="family-member">my uncle</span></h1>
{% else %}
  <div class="category-title">
    <h1>21 jaar? Dit zijn de cadeaus die indruk maken.</h1>
    <p>
      Op zoek naar een leuk cadeau voor iemand van 21 jaar? Hier vind je een aantal originele cadeau-suggesties, gespot
      door de Milledoni community van cadeauspotters
    </p>
  </div>
{% endif %}

{% include 'partials/ribbon.liquid' %}

<aside class="chatbot">
  <div class="input-container">
    <button class="mic-button">
      <img class="chatbot-icon" src="/assets/images/mic-icon.svg" alt="mic icon" width="20" height="27">
    </button>
    <input class="chatbot-input" type="text" placeholder="Type your message...">
    <button class="search-button">
      <img class="chatbot-icon" src="/assets/images/search-icon.svg" alt="search icon" width="47" height="47">
    </button>
  </div>
</aside>

<header class="gifts-overview-container">
  <h2 class="gifts-overview-header">Duizenden cadeau-ideeën, geselecteerd door onze cadeauspotters</h2>
  <img class="filter" src="assets/images/filter.svg" alt="filter">
  <div class="target visually-hidden">
    <h3>Sort price</h3>
    <a href="/?sort=price:asc">Ascending</a>
    <a href="/?sort=price:desc">Descending</a>
  </div>
</header>

<section class="gifts-overview">
  {% for product in products %}
    {% if product.amount != '0.00' %}
      <article class="gift">
        {% if likedGifts contains product.id %}
          <form method="post" action="/delete">
            <input type="hidden" name="id" value="{{ product.id }}">
            {% include 'partials/saved-button.liquid' %}
          </form>
        {% else %}
          <form method="post" action="/">
            <input type="hidden" name="id" value="{{ product.id }}">
            {% include 'partials/save-button.liquid' %}
          </form>
        {% endif %}
        <a href="/gift/{{ product.slug }}">
          {% if product.img != null %}
            <picture>
              <source
                srcset="https://fdnd-agency.directus.app/assets/{{ product.img.id }}?format=avif"
                type="image/avif"
              >
              <source
                srcset="https://fdnd-agency.directus.app/assets/{{ product.img.id }}?format=webp"
                type="image/webp"
              >
              <img
                class="product-image"
                src="https://fdnd-agency.directus.app/assets/{{ product.img.id }}?format=jpg"
                alt="{{ product.name }}"
                width="{{ product.img.width }}"
                height="{{ product.img.height }}"
              >
            </picture>
          {% else %}
            <img class="product-image" src="{{ product.image }}" alt="product image" width="422" height="422">
          {% endif %}
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-price">€{{ product.amount }}</p>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</section>

<a href="#" class="scroll-button-link">
  <svg class="scroll-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
    <title>Scroll to top</title>
    <path d="M450-160v-526L202-438l-42-42 320-320 320 320-42 42-248-248v526h-60Z"></path>
  </svg>
</a>

<p class="SEO-paragraph">
  De 21e verjaardag is een echte mijlpaal, vaak gevierd met een uitgebreid 21 diner of een groot feest. Of je nu een
  cadeau zoekt voor je zoon, dochter, beste vriend of vriendin, bij Milledoni begrijpen we dat een standaard presentje
  niet volstaat. Onze community selecteert daarom dagelijks de meest unieke cadeaus voor 21-jarigen: van
  gepersonaliseerde items en luxe accessoires tot ervaringen die ze nooit meer vergeten. Door te kiezen voor een cadeau
  dat is gespot door echte kenners, weet je zeker dat je aankomt met iets dat perfect aansluit bij de belevingswereld
  van een jonge volwassene. Laat je inspireren door onze collectie en maak van deze bijzondere verjaardag een
  onvergetelijk moment.
</p>

{% include 'partials/foot.liquid' %}
